<!--<script src="js/controller.js"></script>-->
<!--<script src="js/view.js"></script>-->
<!--<script src="js/model.js"></script>-->

<div id="splash" class="splashScr">
        <br>Hello dear user,
        <br>You are about to visit a web page of the wonderful travel company!
        <br>But in order to let you do it we need you to sing in to your facebook account
        <br>...and give us standart permissions to see your personal data and post out of your name anything we like :)
        <br>
        <button id="fbLogIn">FB Log in</button>
</div>